:root {
    --primary: #5dd093;
    --secondary: #a5a5a5;


    --gray-900: hsl(270, 6%, 25%);



}
* {
    margin: 1px; /* espaçamento externo */
    padding: 1px; /* espaçamento interno */
    outline: 1px; /* linha fora da borda */
    border: 1px; /* borda */
    box-sizing: border-box;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: var(--secondary);
    width: 30%;
    padding: 40px;
    
}

#nome, #email, #senha {
    width: 100%;
    padding:5px;
    border-radius: 6px;
    margin: 5px 0;
}

#data {
    display: block;
    margin: 5px 0;
    border-radius: 6px;
}

textarea {
    width: 100%;
    margin: 15px 0;
}
#genero {
    display: block;
    margin: 5px 0;
}

.div-stack {
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: var(--primary);
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover {
    background-color: var(--secondary);
    color: chartreuse;
}

#turno {
    margin: 15px 0;
}